<h1 class="text-center mt-5 fw-bold">Playa de Estacionamiento Chincha</h1>
<img class="rounded mx-auto d-block rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4ZXlYoafEruBEobfwamG0KqclJTJpSqTuww&s" alt="">
<div class="container mt-3">
  <div class="row justify-content-md-center">
    <div class="col col-lg-5">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="nuevaPlaca">
        <button class="btn btn-outline-success" id="btnadd" (click)="grabarPlaca()">Añadir Placa</button>
    </div>

    <table class="table table-striped text-center">
        <thead>
          <tr class="table-dark">
            <th>N° DE PLACA</th>
            <th>FECHA Y HORA DE INGRESO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let placa of placas; let i = index">
              <th scope="">{{placa.placaNumero}}</th>
              <th>{{placa.fechaIngreso | date: "medium"}}</th>
              <th>
                <button class="btn btn-danger btn-sm" (click)="eliminar(i)">SALIR</button>
              </th>
            </tr>
        </tbody>
    </table>
    </div>
  </div>
</div>